body {
    color: #333;
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);

}

.parent {
    height: 100%;
    width: 600px;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgb(250, 249, 249);
    background-color: white;
    padding: 23px;

}

h1 {
    font-family: "Young Serif", serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.page-photo {
    width: 100%;
    height: 300px;
    border-radius: 14px;
    object-fit: cover;
    margin-bottom: 20px;
}

.Preparation-section {
    background-color: hsl(330, 100%, 98%);
    padding: 13px;
    border-radius: 14px;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: "Young Serif", serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.items li {
    display: flex;
    align-items: flex-start;
    gap: 0.2em;
    margin-bottom: 8px;
    line-height: 1.6;
    position: relative;
    padding-left: 0.8em;
}

.items li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

.label {
    font-weight: bold;
    min-width: 120px;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.ing {
    line-height: 2;
}

.ins li::marker {
    color: hsl(332, 51%, 32%);
    /* or any other color you prefer */
    font-weight: bold;
    /* optional: make number bold */
    font-size: 1.1em;
    /* optional: slightly bigger */
}

.Instructions-section {
    line-height: 1.5;
}

.ins li {
    line-height: 1.5;
}

hr {
    opacity: 0.3;
}

.nutritional-item {
    display: flex;
    align-items: center;
}

.labell {
    width: 120px;
    padding-left: 23px;
    padding-right: 150px;

}

.valuee {
    flex: 1;
    /* take remaining space */
    text-align: center;
    /* center the value */
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
.parent > * {
    margin-bottom: 20px;
}
